mixin sOrder(data)
	// start sOrder
	+b.SECTION.sOrder.section.wow.animate__animated.animate__fadeIn&attributes(attributes)
		if data.pencil
			+pic('sOrder-pencil.png')(class="sOrder__bg d-none d-xl-flex")
		+e.container.container
			img(src="img/sOrder-img-1.jpg", alt="").img.img--1
			img(src="img/sOrder-img-2.png", alt="").img.img--2
			+e.row.row
				.col-lg-7
					+b.section-title.text-center.text-lg-start
						h2
							if block
								block
							else
								| Закажите ППР
								|
								span на&#160;любой&#160;вид
								|
								| строительных работ
						//- p Мы сделаем любой строительный ППР или&#160;(ППРк) от 15 000 ₽ за 2–3 дня.
					+e.items
						+sOrderItem('sOrder-img-1.svg', '16', 'Лет работы')
						+sOrderItem('sOrder-img-2.svg', '1215', 'Сделанных проекта ОДД')
						+sOrderItem('sOrder-img-3.svg', '100%', 'Гарантия согласования')
						+sOrderItem('sOrder-img-4.svg', '142', 'Довольных клиента')
					//- +e.item.green-item.d-lg-none
					//- 	+ItemRow('Цены', 'от 15 000 ₽')
					//- 	+ItemRow('Доработки', 'без ограничений')
					//- 	+ItemRow('Сроки', '2–3 дня')
					//- 	+ItemRow('Предоплата', '0 ₽')
				.col-lg-5
					+form-wrap()
						+e.box
							.text-center
								+e.title
									| Перезвоним через
									|
									span 5–7 минут
								+e.sm-txt Заполните форму:
							+e.inputs
								+input('Какой ППР вам нужен?', 'text')
								+input('На какой телефон перезвонить?', 'tel')
								+input('Как вас зовут?', 'text')
							+e.btn(type="submit") Заказать ппр со скидкой 15%
						//- +e.green-box
						//- 	+e.g-row.row.align-items-center.justify-content-center
						//- 		+e.g-val.col-auto 15%
						//- 		+e.g-txt.col-auto Скидка на 1-й ППР или ППРк
	// end sOrder

mixin sOrderItem(img, num, text)
	+e.item
		+img(`img/svg/${img}`)
		span!= num 
		p!= text 

//- mixin ItemRow(title, descr)
//- 	+e.i-row.row
//- 		.col-auto
//- 			+e.ball
//- 				+icon('check')
//- 		.col
//- 			+e.title!=title
//- 			+e.descr=descr