extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAlso/_sAlso.pug
include ../blocks/sMade/_sMade.pug
include ../blocks/sCategory/_sCategory.pug
include ../blocks/sOrder/_sOrder.pug
include ../blocks/sSpec/_sSpec.pug
include ../blocks/sStandart/_sStandart.pug
include ../blocks/sDay/_sDay.pug
include ../blocks/sOpen/_sOpen.pug
include ../blocks/sFeedback/_sFeedback.pug
include ../blocks/sExamples/_sExamples.pug
include ../blocks/sOrganize/_sOrganize.pug
include ../blocks/sCases/_sCases.pug
include ../blocks/sStandards/_sStandards.pug
include ../blocks/sWhatWeDo/_sWhatWeDo.pug
include ../blocks/sCoordinate/_sCoordinate.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg="01.png"

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+headerBlock()
	+sForm()
	+sOrganize
	//- +sAlso()
	+sMade()
	+sExamples(true, true).sExamples--2
		img(src="img/road-sign-1.png", alt="").img.img--2
		img(src="img/road-sign-2.png", alt="").img.img--3
	+sCases
	+sStandards
	+sExamples
		img(src="img/straight-sign.png", alt="").img
	+sWhatWeDo
	+sCoordinate
	//- +sCategory()
	//- +sOrder({

	//- })
	//- +sSpec()
	//- +sStandart()
	//- +sDay()
	//- //remove d-none if u need another form on mob devide, css is ready
	//- +sForm()(class="sForm--alt d-none d-sm-block")
	+sOpen2
	+sOpen()
	//- +sFeedback()
	+sOrder()
		| Бесплатная
		|
		span консультация и расчет
		|
		| цены по телефону
	//- //-
	+sContact()
	+footer()