mixin sOpen(data)
	// start sOpen
	+b.SECTION.sOpen--js.section#sOpen&attributes(attributes)
		+e.container.container
			+e.bg.d-none.d-xl-block
				img(src="img/@2x/sOpen-img.png" alt="")
			+b.section-title
				p О компании «С-Проджект»
				h2
					| Мы открылись не «вчера» и
					|
					span не закроемся «завтра»
					|
					| — поэтому нам доверяют
				p Мы&nbsp;готовы предложить вам разработку проектов дорожного движения и&nbsp;согласование ваших проектов под полным сопровождением по&nbsp;приятным ценам. Наши сроки вам понравятся! От&nbsp;2-х рабочих дней + даем гарантию согласования проекта.
				p Более 16-ти лет мы&nbsp;оказываем услуги по&nbsp;разработке и&nbsp;согласованию Проектов организации дорожного движения (ПОДД), Схем организации дорожного движения, Проектов дорог, примыканий, АСУДД для Москвы, Санкт-Петербурга и&nbsp;других регионов России.
				p А&nbsp;так&nbsp;же бесплатно доставим проект вам в&nbsp;любое удобное для Вас место!
			+e.cert-title Сертификаты и СРО
			+e.slider-wrap
				.swiper.sOpen-slider-js
					.swiper-wrapper
						-for(var i = 0; i < 5; i++)
							+sOpenSlide(i)
					.d-none.d-xl-block
						+arrow()
				.swiper-pagination
	// end sOpen

mixin sOpen2()
	+b.SECTION.sOpen.section#sOpen&attributes(attributes)
		+e.container.container
			+b.section-title--2.text-center
				h2 #[span Отзывы постоянных клиентов] о&nbsp;наших работах
			+e.slider-wrap
				.swiper.sOpen-slider-js
					.swiper-wrapper
						-for(var i = 0; i < 5; i++)
							+sOpenSlide(i)
					.d-none.d-xl-block
						+arrow()
				.swiper-pagination
	// end sOpen

mixin sOpenSlide(id)
	.swiper-slide
		+e.card-wrap
			+e.card
				//-dont place pic!!! loading="lazy" broken
				//-fancy broke too (href=`img/@2x/sOpen-cert.png` data-fancybox=`sOpenSlide${id}`)
				+e.img
					img.swiper-lazy(src="#" data-src="img/@2x/sOpen-cert.png" alt="")