mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")&attributes(attributes)
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('whatsapp').--wa
			+item-sos('telegram').--tg
			+item-sos('vk').--vk

//- /social buttons 